
td.number {
    text-align: right;
}
body {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Helvetica', sans-serif;*/
    padding-top: 50px;    
}
#header-container {
    background: #404040;
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding-bottom: 10px;
}

#sketch-holder {
    display: flex;
    justify-content: center;
}

#gif-container {
    /*display: flex;*/
    justify-content: center;
}

#gif-holder {
    width: 30%;
    height: 30%;
}

.navbar {
    /*background: white;*/
    font-weight: bold;
    font-family: 'Bungee Hairline', cursive;
}

h1 {
    color: white;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    /*font-family: 'Pacifico', cursive;*/
    font-size: 60px;
}
